# Ignore Python cache files
__pycache__/
*.pyc

# Ignore screen log.txt and main.y files
log.txt
log1.txt
main_sample1.py
main_sample2.py
main_train.py

# Ignore model and train versions
train1.py
train2.py
train3.py
model_td_.py
model_td_1.py
model_td_2.py
model_td_3.py


# Ignore preprocessing and evaluation jupyter notebooks
preprocess_dataset.ipynb
evaluate.ipynb

# Ignore results and other directories
results0/*
results/*
copy/*
data/*
